<div class="m-player">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <!-- 左侧3个按钮 -->
      <div class="btns">
        <i class="prev"></i>
        <i class="toggle"></i>
        <i class="next"></i>
      </div>
      <div class="head">
        <img src="" alt="" />
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix hide">
          <p class="ellipsis" style="margin-bottom: 0">歌名</p>
          <ul class="songs clearfix" style="margin-bottom: 0">
            <li><a href="">歌手一</a>/</li>
            <li><a href="">歌手二</a></li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider></app-wy-slider>
          </div>
          <span class="time" [hidden]="true"> <em>02:11</em> / 4:00 </span>
        </div>
      </div>
      <!-- 右侧4个按钮 -->
      <div class="oper">
        <i class="like" tite="收藏"></i>
        <i class="share" tite="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" tite="音量"></i>
        <i class="loop" tite="循环"></i>
        <p class="open"><span></span></p>

        <div class="control-vol">
          <app-wy-slider [vertical]="true" [(ngModel)]="volume"></app-wy-slider>
        </div>
      </div>
    </div>
  </div>
</div>
