<div class="m-player" (click)="selfClick = true">
  <div class="lock">
    <div class="left"><i></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <!-- 左侧3个按钮 -->
      <div class="btns">
        <i class="prev" (click)="onPrev(currentIndex - 1)"></i>
        <i class="toggle" [ngClass]="{ playing: isPlaying }" (click)="onToggle()"></i>
        <i class="next" (click)="onNext(currentIndex + 1)"></i>
      </div>
      <div class="head">
        <img [src]="picUrl" />
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis" style="margin-bottom: 0">{{ currentSong?.name }}</p>
          <ul class="songs clearfix" style="margin-bottom: 0">
            <li *ngFor="let item of currentSong?.ar; last as isLast">
              <a href="">{{ item.name }}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider
              [bufferOffset]="bufferPercent"
              [(ngModel)]="percent"
              (afterDragEnd)="onPercentChange($event)"
            ></app-wy-slider>
          </div>
          <span class="time">
            <em>{{ currentTime | formatTime }}</em> / {{ duration | formatTime }}
          </span>
        </div>
      </div>
      <!-- 右侧4个按钮 -->
      <div class="oper">
        <i class="like" tite="收藏"></i>
        <i class="share" tite="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" tite="音量" (click)="toggleVolumnPanel()"></i>
        <i [ngClass]="currentMode.type" [title]="currentMode.label" (click)="onChangeMode()"></i>
        <p class="open" (click)="toggleListPanel()"><span></span></p>

        <div class="control-vol" [hidden]="!showVolumnPanel">
          <app-wy-slider
            [vertical]="true"
            [(ngModel)]="volume"
            (ngModelChange)="onVolumeChange($event)"
          ></app-wy-slider>
        </div>
      </div>
      <!-- 播放列表面板 -->
      <app-wy-player-panel
        [currentSong]="currentSong"
        [songList]="songList"
        [currentIndex]="currentIndex"
        [show]="showPanel"
        (closePanel)="showPanel = false"
        (changeSong)="onChangeSong($event)"
      ></app-wy-player-panel>
    </div>
  </div>

  <!-- 正在播放的歌曲 -->
  <audio
    #audio
    [src]="currentSongURL"
    (canplay)="onCanPlay()"
    (timeupdate)="onTimeUpdate($event)"
    (ended)="onEnded()"
    (error)="onError()"
  ></audio>
</div>
