<div
  class="m-player"
  appClickoutside
  [bindFlag]="bindFlag"
  (clickOutSide)="onClickOutSide()"
  [@showHide]="showPlayer"
  (@showHide.start)="onAnimationEvent($event)"
  (@showHide.done)="onAnimationEvent($event)"
  (mouseenter)="togglePlayer(PlayerType.Show)"
  (mouseleave)="togglePlayer(PlayerType.Hide)"
>
  <div class="lock" (click)="isLocked = !isLocked">
    <div class="left"><i [class.locked]="isLocked"></i></div>
  </div>
  <div class="hand"></div>
  <div class="container">
    <div class="wrap">
      <!-- 左侧3个按钮 -->
      <div class="btns">
        <i class="prev" (click)="onPrev(currentIndex - 1)"></i>
        <i class="toggle" [ngClass]="{ playing: isPlaying }" (click)="onToggle()"></i>
        <i class="next" (click)="onNext(currentIndex + 1)"></i>
      </div>
      <div class="head" (click)="onToInfo(['/songInfo', currentSong?.id])">
        <img [src]="picUrl" />
        <i class="mask"></i>
      </div>
      <div class="play">
        <div class="words clearfix">
          <p class="ellipsis" style="margin-bottom: 0" (click)="onToInfo(['/songInfo', currentSong?.id])">
            {{ currentSong?.name }}
          </p>
          <ul class="songs clearfix" style="margin-bottom: 0">
            <li *ngFor="let item of currentSong?.ar; last as isLast">
              <a (click)="onToInfo(['/singer', item.id])">{{ item.name }}</a>
              <span [hidden]="isLast">/</span>
            </li>
          </ul>
        </div>
        <div class="bar">
          <div class="slider-wrap">
            <app-wy-slider
              [bufferOffset]="bufferPercent"
              [(ngModel)]="percent"
              (afterDragEnd)="onPercentChange($event)"
            ></app-wy-slider>
          </div>
          <span class="time">
            <em>{{ currentTime | formatTime }}</em> / {{ duration | formatTime }}
          </span>
        </div>
      </div>
      <!-- 右侧4个按钮 -->
      <div class="oper">
        <i class="like" tite="收藏"></i>
        <i class="share" tite="分享"></i>
      </div>
      <div class="ctrl">
        <i class="volume" tite="音量" (click)="toggleVolumnPanel()"></i>
        <i [ngClass]="currentMode.type" [title]="currentMode.label" (click)="onChangeMode()"></i>
        <p
          nz-tooltip
          [nzTooltipTitle]="controlTooltip.title"
          [nzTooltipTrigger]="null"
          [nzTooltipVisible]="controlTooltip.show"
          nzTooltipPlacement="top"
          nzTooltipOverlayClassName="tip-bg"
          class="open"
          (click)="toggleListPanel()"
        >
          <span></span>
        </p>

        <div class="control-vol" [hidden]="!showVolumnPanel">
          <app-wy-slider
            [vertical]="true"
            [(ngModel)]="volume"
            (ngModelChange)="onVolumeChange($event)"
          ></app-wy-slider>
        </div>
      </div>
      <!-- 播放列表面板 -->
      <app-wy-player-panel
        [playing]="isPlaying"
        [currentSong]="currentSong"
        [songList]="songList"
        [show]="showPanel"
        (closePanel)="showPanel = false"
        (changeSong)="onChangeSong($event)"
        (deleteSong)="onDeleteSong($event)"
        (clearSong)="onClearSong()"
        (toInfo)="onToInfo($event)"
      ></app-wy-player-panel>
    </div>
  </div>

  <!-- 正在播放的歌曲 -->
  <!-- TODO:后期可以尝试使用这个库来实现音乐播放 https://github.com/goldfire/howler.js -->
  <audio
    #audio
    [src]="currentSongURL"
    [preload]="audioPreload"
    (canplay)="onCanPlay()"
    (timeupdate)="onTimeUpdate($event)"
    (ended)="onEnded()"
    (error)="onError()"
  ></audio>
</div>
