<div class="home">
  <app-wy-carousel [activeIndex]="activeIndex" [banners]="banners" (changeSlide)="onChangeSlide($event)">
    <nz-carousel nzEffect="fade" nzAutoPlay [nzDotRender]="dot" (nzBeforeChange)="onBeforeChange($event)">
      <div class="carousel-item" nz-carousel-content *ngFor="let banner of banners">
        <a class="banner-item" [href]="banner.url" target="_blank">
          <img [src]="banner.imageUrl" alt="" srcset="" />
        </a>
      </div>
    </nz-carousel>
    <ng-template #dot let-number>
      <i class="dot" [class.active]="activeIndex === number"></i>
    </ng-template>
  </app-wy-carousel>

  <!-- 主体内容 -->
  <div class="main">
    <div class="wrap">
      <div class="left">
        <div class="sec">
          <div class="up">
            <div class="navs">
              <h2><i></i><a>热门推荐</a></h2>
              <nav>
                <a *ngFor="let tag of hotTags" routerLink="/sheet" [queryParams]="{ cat: tag.name }">{{ tag.name }}</a>
              </nav>
            </div>
            <a routerLink="/sheet">更多<i nz-icon nzType="arrow-right" nzTheme="outline"></i></a>
          </div>
          <div class="down">
            <div class="down-wrap">
              <app-single-sheet
                class="sheet-item"
                *ngFor="let sheet of sheetList"
                [sheet]="sheet"
                (play)="onPlaySheet($event)"
                (click)="toInfo(sheet.id)"
              ></app-single-sheet>
            </div>
          </div>
        </div>
      </div>
      <div class="right">
        <app-member-card (openModal)="onLogin()" [user]="user"></app-member-card>
        <div class="settled-singer">
          <div class="tit"><b>入驻歌手</b></div>
          <div class="list">
            <app-singer-card
              class="card-item"
              *ngFor="let singer of singers"
              [singer]="singer"
              [routerLink]="['/singer', singer.id]"
            ></app-singer-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
