<div id="page">
  <nz-progress
    *ngIf="loadPercent < 100"
    nzStrokeWidth="5"
    [nzShowInfo]="false"
    nzStatus="active"
    [nzPercent]="loadPercent"
  ></nz-progress>
  
  <nz-layout>
    <nz-header class="header">
      <div class="wrap">
        <div class="left">
          <h1>Music</h1>
          <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li
              nz-menu-item
              *ngFor="let menu of menus"
              [routerLink]="menu.path"
              [nzSelected]="pageTitle === menu.label"
            >
              {{ menu.label }}
            </li>
          </ul>
        </div>
        <div class="right">
          <app-wy-search (keywordChange)="onSearch($event)" [searchData]="searchData"></app-wy-search>
          <div class="member">
            <div class="no-login" *ngIf="!user; else logined">
              <ul nz-menu nzTheme="dark" nzMode="horizontal">
                <li nz-submenu>
                  <div title>
                    <span>登录</span>
                    <i nz-icon nzType="down" nzTheme="outline"></i>
                  </div>
                  <ul>
                    <li nz-menu-item (click)="openModal(ModalTypes.LoginByPhone)">
                      <i nz-icon nzType="mobile" nzTheme="outline"></i>
                      手机登录
                    </li>
                    <li nz-menu-item (click)="openModal(ModalTypes.Register)">
                      <i nz-icon nzType="user-add" nzTheme="outline"></i>
                      注册
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <ng-template #logined>
              <div class="login">
                <ul nz-menu nzMode="horizontal" nzTheme="dark">
                  <li nz-submenu>
                    <div title>
                      <nz-avatar nzIcon="user" [nzSrc]="user?.profile?.avatarUrl"></nz-avatar>
                      <i nz-icon nzType="down" nzTheme="outline"></i>
                    </div>
                    <ul>
                      <li nz-menu-item [routerLink]="['/member', user?.profile?.userId]">
                        <i nz-icon nzType="user" nzTheme="outline"></i>我的主页
                      </li>
                      <li nz-menu-item (click)="onLogout()">
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>退出
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content class="content">
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer class="footer">Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</div>

<!-- 底部播放器 -->
<app-wy-player [hidden]="false"></app-wy-player>

<!-- 页面弹框 -->
<app-wy-layer-modal [loading]="loading" [modalType]="modalType" [modalVisible]="modalVisible">
  <app-wy-layer-share
    name="share"
    [visible]="modalVisible"
    [shareInfo]="shareInfo"
    (cancel)="closeModal()"
    (share)="onShare($event)"
  ></app-wy-layer-share>
  <app-wy-layer-like
    name="like"
    [visible]="modalVisible"
    [likeId]="likeId"
    [sheets]="userSheets"
    (createSheet)="onCreateSheet($event)"
    (likeSong)="onLikeSong($event)"
  ></app-wy-layer-like>
  <app-wy-layer-register
    name="register"
    [visible]="modalVisible"
    (changeModalType)="onChangeModalType($event)"
    (register)="onRegister($event)"
  ></app-wy-layer-register>
  <app-wy-layer-login
    name="login"
    [visible]="modalVisible"
    [wyRememberLogin]="wyRememberLogin"
    (changeModalType)="onChangeModalType($event)"
    (login)="onLogin($event)"
  ></app-wy-layer-login>
  <app-wy-layer-default (changeModalType)="onChangeModalType($event)"></app-wy-layer-default>
</app-wy-layer-modal>

<!-- 回到顶部按钮 -->
<nz-back-top [nzTemplate]="backTop"></nz-back-top>
<ng-template #backTop>
  <div class="ant-back-top-inner">
    <button nz-button nzType="primary" nzSize="large">
      <i nz-icon nzType="to-top" nzTheme="outline"></i>
    </button>
  </div>
</ng-template>
