<div class="register modal-content">
  <div class="modal-wrap" *ngIf="visible">
    <form
      *ngIf="!showOtp; else otp"
      nz-form
      class="login-form"
      nzLayout="vertical"
      [formGroup]="validateForm"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label>手机号</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="请填写正确的手机号">
          <nz-input-group nzPrefixIcon="mobile">
            <input type="tel" nz-input formControlName="phone" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>密码</nz-form-label>
        <nz-form-control nzHasFeedback nzErrorTip="请输入密码">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <button nz-button nzBlock nzType="primary" [disabled]="!validateForm.valid">下一步</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <ng-template #otp>
    <app-wy-check-code
      [time]="countDown"
      [phone]="phoneCtrl.value"
      [codeValid]="codeValid"
      (checkCode)="onCheckCode($event)"
      (reSendCode)="sendCode()"
      (checkExist)="onCheckExist()"
    >
    </app-wy-check-code>
  </ng-template>

  <div class="m-footer clearfix">
    <a (click)="changeType()">< 其它登录方式</a>
  </div>
</div>
