<div #modalContainer class="m-layer" [@showHide]="showModal" cdkDrag cdkDragBoundary=".cdk-overlay-container">
  <div class="zbar" cdkDragHandle>
    <div class="zttl f-thide">标题</div>
  </div>
  <div class="zcls" title="关闭" (click)="hide()"></div>
  <ng-container [ngSwitch]="modalType">
    <ng-container *ngSwitchCase="ModalTypes.LoginByPhone">
      <ng-content select="[name=login]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="ModalTypes.Register">
      <ng-content select="[name=register]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="ModalTypes.Like">
      <ng-content select="[name=like]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchCase="ModalTypes.Share">
      <ng-content select="[name=share]"></ng-content>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-content></ng-content>
    </ng-container>
  </ng-container>
</div>
